@font-face {
    font-family: "PoppinsExtraLight";
    src: url("../fonts/Poppins-ExtraLight.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsRegular";
    src: url("../fonts/Poppins-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsMedium";
    src: url("../fonts/Poppins-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url("../fonts/Poppins-SemiBold.woff2");
    font-display: swap;
}

:root {
    --trebe-orange: rgb(247, 147, 30) !important;
    --trebe-light-blue: rgb(0, 234, 255) !important;
    --trebe-blue: rgb(29, 57, 96) !important;
    --trebe-dark-blue: rgb(3, 31, 70) !important;
}

.poppins-light {
    font-family: "PoppinsExtraLight" !important;
}

.poppins-regular {
    font-family: "PoppinsRegular" !important;
}

.poppins-semi-bold {
    font-family: "PoppinsSemiBold" !important;
}

.trebe-orange {
    color: var(--trebe-orange) !important;
}

.underline-orange {
    text-decoration: underline solid var(--trebe-orange) 3px !important;
}

h1,
h2 {
    margin-bottom: 2rem !important;
}

* {
    box-sizing: border-box !important;
    font-family: "PoppinsMedium" !important;
    color: var(--trebe-dark-blue) !important;
}

body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    justify-content: space-between !important;
}

.home {
    min-height: 77vh !important;
    margin-bottom: 25vh !important;
}

nav {
    border-bottom: 1px solid transparent !important;
    -webkit-transition: border-bottom .3s linear !important;
    -moz-transition: border-bottom .3s linear !important;
    transition: border-bottom .3s linear !important;
}

.navbar {
    top: 0 !important;
    z-index: 1020 !important;
}

.navbar-toggler {
    outline-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

#menu-icon {
    width: 30px !important;
    height: 20px !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transition: .5s ease-in-out !important;
    -moz-transition: .5s ease-in-out !important;
    transition: .5s ease-in-out !important;
    cursor: pointer !important;
}

#menu-icon span {
    height: 3px !important;
    width: 100% !important;
    border-radius: 9px !important;
    left: 0 !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    -webkit-transition: .25s ease-in-out !important;
    -moz-transition: .25s ease-in-out !important;
    transition: .25s ease-in-out !important;
}

#menu-icon span:nth-child(1) {
    top: 0px !important;
}

#menu-icon span:nth-child(2),
#menu-icon span:nth-child(3) {
    top: 10px !important;
}

#menu-icon span:nth-child(4) {
    top: 20px !important;
}

#menu-icon.open span:nth-child(1) {
    top: 11px !important;
    width: 0% !important;
    left: 50% !important;
}

#menu-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

#menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
}

#menu-icon.open span:nth-child(4) {
    top: 11px !important;
    width: 0% !important;
    left: 50% !important;
}

#changeLang {
    cursor: pointer !important;
    -webkit-transition: .2s ease-in-out !important;
    -moz-transition: .2s ease-in-out !important;
    transition: .2s ease-in-out !important;
}

#changeLang:hover {
    border-color: var(--trebe-orange) !important;
}

#changeLang:focus,
#changeLang:active {
    outline-color: none !important;
    box-shadow: none !important;
    border-color: var(--trebe-orange) !important;
}

.nav-link:hover {
    color: var(--trebe-orange) !important;
}

.nav-color {
    color: var(--trebe-orange) !important;
}

.dropdown-toggle[aria-expanded="true"]:after {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.dropdown-toggle:after {
    -webkit-transition: .5s !important;
    -moz-transition: .5s !important;
    transition: .5s !important;
}

.btn.show,
.btn.show:focus,
.btn.show:active,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    outline-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.dropdown-item {
    -webkit-transition: .2s ease-in-out !important;
    -moz-transition: .2s ease-in-out !important;
    transition: .2s ease-in-out !important;
}

.dropdown-item:hover {
    background-color: transparent !important;
    color: var(--trebe-orange) !important;
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: transparent !important;
    color: var(--trebe-dark-blue) !important;
}

.dropdown-item:focus:hover,
.dropdown-item:active:hover {
    color: var(--trebe-orange) !important;
}

.text-justify {
    text-align: justify !important;
}

.rounded-service {
    border-radius: 20% !important;
    -webkit-box-shadow: 0 0 10px lightgray !important;
    -moz-box-shadow: 0 0 10px lightgray !important;
    box-shadow: 0 0 10px lightgray !important;
    -webkit-transition: .3s ease-in-out !important;
    -moz-transition: .3s ease-in-out !important;
    transition: .3s ease-in-out !important;
}

.rounded-service:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 35px lightgray !important;
    -moz-box-shadow: 0 0 35px lightgray !important;
    box-shadow: 0 0 35px lightgray !important;
}

.rounded-news {
    border-radius: 80px 80px 80px 80px !important;
    -webkit-box-shadow: 0 0 10px lightgray !important;
    -moz-box-shadow: 0 0 10px lightgray !important;
    box-shadow: 0 0 10px lightgray !important;
    -webkit-transition: .3s ease-in-out !important;
    -moz-transition: .3s ease-in-out !important;
    transition: .3s ease-in-out !important;
}

.rounded-news:hover {
    -webkit-box-shadow: 0 0 35px lightgray !important;
    -moz-box-shadow: 0 0 35px lightgray !important;
    box-shadow: 0 0 35px lightgray !important;
}

.rounded-image {
    border-radius: 80px 80px 0px 0px !important;
}

.news-post {
    width: 22rem !important;
}

.pagination {
    padding: .2rem !important;
    border: 1px solid lightgrey !important;
    border-radius: 80px 80px 80px 80px !important;
}

.pagination>.disabled {
    opacity: .3 !important;
}

.page-link {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    border: none !important;
    color: var(--trebe-dark-blue) !important;
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 50% !important;
    margin-left: .1rem !important;
    margin-right: .1rem !important;
    font-weight: 300 !important;
    font-size: larger !important;
}

.page-link:focus,
.page-link:active {
    outline-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.active>.page-link {
    background-color: var(--trebe-dark-blue) !important;
    color: white !important;
}

.all-news,
#previous,
#next {
    color: var(--trebe-dark-blue) !important;
    -webkit-transition: .3s !important;
    -moz-transition: .3s !important;
    transition: .3s !important;
}

.all-news:hover,
#previous:hover,
#next:hover {
    color: var(--trebe-orange) !important;
}

.content>p {
    font-family: "PoppinsRegular" !important;
}

input,
textarea {
    -webkit-transition: .5s !important;
    -moz-transition: .5s !important;
    transition: .5s !important;
}

textarea {
    resize: none !important;
}

input:hover,
textarea:hover {
    border-color: var(--trebe-orange) !important;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline-color: var(--trebe-orange) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(247, 147, 30, .6) !important;
    border-color: var(--trebe-orange) !important;
}

#send {
    background-color: var(--trebe-blue) !important;
    -webkit-transition: .3s !important;
    -moz-transition: .3s !important;
    transition: .3s !important;
}

#send:hover {
    background-color: var(--trebe-dark-blue) !important;
}

#contact-email {
    color: var(--trebe-dark-blue) !important;
}

#contact-email:hover {
    text-decoration: underline !important;
}